		<div class="hero-unit rojo">
			<h1>Sistema IESO</h1>
			<p>Descripcion de la app</p>

				<a href="/agregar/alumno" class='btn btn-inverse'> <i class='icon-plus-sign icon-white'></i> Agregar alumnos</a>
				<a href="/agregar/profesor" class='btn btn-inverse'><i class='icon-plus-sign icon-white'></i> Agregar profesores</a>
				<a href="/agregar/grupo" class='btn btn-inverse'> <i class='icon-plus-sign icon-white'></i> Agregar grupos</a>
				<a href="/agregar/materia" class='btn btn-inverse'> <i class='icon-plus-sign icon-white'></i> Agregar materias</a>
				<a href="/agregar/horario" class='btn btn-inverse'> <i class='icon-plus-sign icon-white'></i> Agregar horarios</a>
			
		</div>